@model PhatTrienWeb_Laptop.Models.BoNhoRAM

@{
    ViewData["Title"] = "Create";
    Layout = "/Views/Shared/_Layout2.cshtml";
}

<h1>Create</h1>

<h4>BoNhoRAM</h4>

@using (Html.BeginForm("Create", "BoNhoRam", new { style = "border:1px solid red; " }))
{
    <table class="table" , style="text-align:center;">
        <tr>
            <td> <b>Dung lượng RAM</b></td>
            <td> @Html.TextBoxFor(bnr => bnr.DungLuongRAM, new { @class = "style" })</td>
        </tr>
        <tr>
            <td> <b>Loại RAM</b> </td>
            <td> @Html.TextBoxFor(bnr => bnr.LoaiRAM, new { @class = "style" })</td>
        </tr>
        <tr>
            <td> <b>Bus RAM</b></td>
            <td>  @Html.TextBoxFor(bnr => bnr.BusRAM, new { @class = "style" })</td>
        </tr>
        <tr>
            <td> <b>Hỗ trợ tối đa</b></td>
            <td>  @Html.TextBoxFor(bnr => bnr.HoTroToiDa, new { @class = "style" })</td>
        </tr>
    </table>
    <br />
    <div style="text-align: center">  <input type="submit" value="Thêm bộ nhớ RAM" /></div>
}
<div style="font-size: 12px;">
    <a asp-action="Index">Trở về</a>
</div>


<style>
    .style {
        text-align: center;
        width: 70%;
    }

    .b {
        width: 300px;
    }
</style>